@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
body{
	margin: 0;
	height: 100vh;
	width: 100%;
	font-family: 'Gloria Hallelujah', sans-serif;
	color: white;
	font-size: 1.5rem;
	background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(81, 12, 34, 0.35)), url('https://cdn.discordapp.com/attachments/983596436379807744/983619280128053268/1500x500.jpg');
	background-attachment: fixed;
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
#mainContent {
	display: table;
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
}
.flex-container {
    /*display: flex;*/
    justify-content: center;
    text-align: center;
	padding: 20px;
	/* Center vertically*/
	display: table-cell;
	vertical-align: middle;
}
.card {
	max-width: 710px;
	margin: auto;
	padding: 5px;
	box-shadow: 2px 8px 10px 2px rgba(0,0,0,0.7);
	transition: 0.3s;
	border-radius: 30px;
	background-color: rgb(202,65,207);
	background: linear-gradient(135deg, rgba(202,65,207,0.85) 20%, rgba(101,33,103,0.85) 100%);
}

/* On mouse-over, add a deeper shadow */
.card:hover {
	box-shadow: 1px 6px 14px 4px rgba(0,0,0,0.9);
}

/* Add some padding inside the card container */
.container {
	padding: 2px 16px;
}
/* Add rounded corners to the top left and the top right corner of the image*/ 
img {
	border-radius: 20%;
	margin: 5px;
}
#profile-image {
	margin-top: 0.5em;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	filter: drop-shadow(0 0 0.5rem #000);
}
hr.divider {
	border-top: 1px solid white;
	border-bottom: 0px;
	width: 50%;
	margin: 20px auto;
}
#username{
	margin: 0;
	font-weight: bolder;
	text-shadow: 3px 3px 4px #065321, -3px -2px 6px #0E0E75;
}
.subtitle {
	margin: 0 auto;
	text-shadow: 0px 0px 3px #000;
}
.subtitle.main {
	font-size: .8em;
}
.social-icons{
	margin: 20px;
}
.social-icons a {
	margin: 5px;
}
.fa-custom-style {
	display: inline-block;
	padding: 20px;
	font-size: 48px !important; /* Size of icon */
	text-decoration: none; /* remove underline */
	border-radius: 50%;
	overflow: hidden;
	color: #000;
	background: #ffe8fc;
}
.fa-custom-style:hover {
	opacity: 0.7;
}
.fa-twitch {
	color: #9146FF;
}
.fa-twitter {
	color: #1DA1F2;
}
.fa-github {
	color: #1B1F22;
}

/*art*/
.art{
  margin: 0;
}
.square{
  padding: 0 8px;
  object-fit: cover;
  width: 133px;
  height: 133px;
  /*border-radius: 20px;*/
}
.square:hover{opacity: 0.7;}
@media screen and (max-width: 1920px) {
  .art {
    margin: 0;
  }
}
@media screen and (max-width:760px) {
  .square{
    width: 100px;
    height: 100px;
    border-radius: 20px;
  }
}
@media screen and (max-width:440px) {
  .square{
    width: 50px;
    height: 50px;
    border-radius: 5px;
  }
}
/* Style the Image Used to Trigger the Modal */
.artImg {
	/*border-radius: 5px;*/
	cursor: pointer;
	transition: 0.3s;
}
.artImg:hover {
	opacity: 0.5;
}

@keyframes zoom {
	from {transform:scale(0)}
	to {transform:scale(1)}
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 800px){
	.modal-content {
		width: 100%;
	}
}
  
@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
  
/* Add animation to "page content" */
.animate-flip1 {
	position: relative;
	-webkit-animation-name: animateflip;
	-webkit-animation-duration: 1s;
	animation-name: animateflip;
	animation-duration: 1s;
}
@-webkit-keyframes animateflip {
	from { -webkit-transform: rotateX(90deg); transform: rotateX(90deg); opacity:0} 
	to { -webkit-transform: rotateX(0deg); transform: rotateX(0deg); opacity:1}
}

@keyframes animateflip { 
	from{ -webkit-transform: rotateX(90deg); transform: rotateX(90deg); opacity:0} 
	to{ -webkit-transform: rotateX(0deg); transform: rotateX(0deg); opacity:1}
}
/* Quick Art Additions by tim Wells */
.art.gallery {
  line-height:0;
  -webkit-column-count:5; /* split it into 4 columns */
  -webkit-column-gap:5px; /* give it a 5px gap between columns */
  -moz-column-count:4;
  -moz-column-gap:5px;
  column-count:3;
  column-gap:5px;
}
.art.gallery img {
  width: 100%;
  height: auto;
  margin: 0 0 5px 0; /* to match column gap */
  border-radius: 5px;
}
@media (max-width: 800px) {
   .art.gallery {
    -moz-column-count:    2;
    -webkit-column-count: 2;
    column-count:         2;
   }
}
@media (max-width: 550px) {
   .art.gallery {
    -moz-column-count:    1;
    -webkit-column-count: 1;
    column-count:         1;
   }
}
