body {
	margin:0;
	position:relative;
	width:100vw;
	height:100vh;
	overflow:hidden;
}
container {
	display: block;
	position: fixed;
}
rotation {
	display: block;
	position: relative;
}

/* bottom */
container.place-bottom {
	bottom: 0;
	left: 40%; /* movement axis 0 - 85 */
}
container.place-bottom rotation {
	transform-origin: bottom center;
}

/* top */
container.place-top {
	top: 0;
	left: 0%; /* movement axis 0 - 85 */
}
container.place-top rotation {
	transform-origin: center center;
	transform: rotate(180deg);
}

/* left */
container.place-left {
	left: 0;
	bottom: 100%; /* movement axis 30 - 100*/
}
container.place-left rotation {
	transform-origin: bottom left;
	transform: rotate(90deg);
}

/* right */
container.place-right {
	right: 0;
	bottom: 100%; /* movement axis 30 - 100*/
}
container.place-right rotation {
	transform-origin: bottom right;
	transform: rotate(-90deg);
}


popup {
	display: block;
	position: relative;
	transition:1s;
	
}
popup.speaking {
	animation-name: speak-now;
	animation-duration: 1s;
	animation-fill-mode:forwards;
	transform:translateY(7%);
}
@keyframes speak-now {
  0% { transform:translateY(102%); }
  20% { transform:translateY(0.5%); }
  40% { transform:translateY(7%); }
}
popup.poof {
	animation-name: speak-off;
	animation-duration: 1s;
	animation-fill-mode:forwards;
	transform:translateY(102%);
}
@keyframes speak-off {
  0% { transform:translateY(7%); }
  40% { transform:translateY(102%); }
}

#avatar {
	display: block;
	background-repeat: no-repeat;
	background-size: contain;
	background-position-y: bottom;
	aspect-ratio: 4 / 5; /* Keep height at a ratio of bleh */
	width: 200px;
}

preloader {
	position: absolute;
	top: -1000px;
	left: -1000px;
	height: 55px;
	width: 70px;
}
preloader avatar {
	display: block;
	background-repeat: no-repeat;
	background-size: contain;
	width: 100%;
	height: 100%;
}
#test {
	color: red;
}